*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: "Josefin Slab", serif;
    background: #000;
    color: white;
}

nav{
    padding:30px 0px 0px 40px;
}
nav .amul_logo img{
    width: 12vw;
    height: auto;
}
nav .menu{
    padding-left:3.3vw;
    display: flex;
}
nav .menu .active{
    color: white;
}
nav .navbar{
    padding-top: 5.1vw;
    width: 70vw
}
nav .navbar a{
    display:flex;
    text-decoration: none;
    font-size: 2.25vw;
    color: grey;
    padding: 0.55vw;
    padding-left: 1vw;
    border-left:1px solid grey;
    width: fit-content;
}

.newspaper{
    margin-right: 15vw;
}
.n1{
    display: flex;
    height: 15vw;
    width: 50vw;
}
.n1-img{
    display: flex;
    height: 15vw;
    width:20vw;
}
.n1-img img{
    height: 15vw;
    width: auto;
    overflow: hidden;
    object-fit: cover;
}
.n1-text{
    width: 45vw;
    padding: 2vw;
}
.n1 .n1-text h2{
    font-family: "Train One", system-ui;
}
.n1 .n1-text p{
    font-family: "Redacted Script", cursive;
    padding-top: 1vw;
}

.n2{
    display: flex;
    height: 15vw;
    width: 50vw;
}
.n2-img{
    display: flex;
    height: 15vw;
    width:20vw;
}
.n2-img img{
    height: 15vw;
    width: auto;
    overflow: hidden;
    object-fit: cover;
}
.n2 .n2-text{
    width: 45vw;
    padding: 2vw;
}
.n2 .n2-text h2{
    font-family: "Train One", system-ui;
    text-align: right;
}
.n2 .n2-text p{
    font-family: "Redacted Script", cursive;
    padding-top: 1vw;
}
